<h2>User's posts</h2>

<h3>User {{username}} has the following posts:</h3>

<ol>
  {{#each posts}}
    <li>
      <h4>{{title}}</h4>
      <a href="/post-details/{{_id}}">See details</a>
    </li>
  {{/each}}
</ol>